<nav>
  <div class="nav-wrapper container">
    <a href="" data-activates="slideout-menu" class="button-collapse hide-on-large-only">
      <i class="mdi mdi-navigation-menu"></i>
    </a>

    <ul class="hide-on-med-and-down">
      <li>
        <%= link_to "/", class: 'brand-logo' do %>
          <%= image_tag("/images/GrowHausLogo_200.png", size: "64x45", alt: "GrowHaus Logo") %>
        <% end %>
      </li>
      <%- Department.all.each do |department| %>
        <li>
          <%= link_to forms_path(department_id: department), class: 'dropdown-button', data: { 'activates': "dropdown_#{department.name}", beloworigin: true, constrainwidth: false } do %>
            <%= department.name %>
            <i class="mdi mdi-navigation-arrow-drop-down right"></i>
          <% end %>
          <ul id="dropdown_<%= department.name %>" class="dropdown-content">
            <%- Form.where(department: department).each do |form| %>
              <li><%= link_to form.name, form_path(form) %></li>
            <% end %>
            <li class="divider"></li>
            <li><%= link_to 'Manage Forms', forms_path(department_id: department) %></li>
          </ul>
        </li>
      <% end %>
      <% if current_user.admin? %>
        <li><%= link_to "Users", users_path %></li>
      <% end %>
    </ul>

      <li class="right">
        <%= link_to "", class: 'dropdown-button', data: { 'activates': "dropdown_profile", beloworigin: true, constrainwidth: false } do %>
          <%= current_user.name %>
          <i class="mdi mdi-navigation-arrow-drop-down right"></i>
        <% end %>
        <ul id="dropdown_profile" class="dropdown-content">
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        </ul>
      </li>
    </ul>

    <ul class="side-nav green darken-1" id="slideout-menu">
      <li>
        <%= link_to "/", class: 'brand-logo center-align' do %>
          <%= image_tag("/images/GrowHausLogo_200.png", size: "64x45", alt: "GrowHaus Logo") %>
        <% end %>
      </li>

      <li class="no-padding">
        <ul class="collapsible" data-collapsible="expandable">
          <%- Department.all.each do |department| %>
            <li>
              <a class="collapsible-header white-text">
                <%= department.name %>
                <i class="mdi-navigation-arrow-drop-down right"></i>
              </a>
              <div class="collapsible-body">
                <ul>
                  <%- Form.where(department: department).each do |form| %>
                    <li><%= link_to form.name, form_path(form) %></li>
                  <% end %>
                  <li class="divider"></li>
                  <li><%= link_to 'Manage Forms', forms_path(department_id: department) %></li>
                </ul>
              </div>
            </li>
          <% end %>
        </ul>
      </li>

      <li><%= link_to "Logout", logout_path, method: :delete, class: 'white-text' %></li>
    </ul>
  </div>
</nav>
