<%= form_for(@form) do |f| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="input-field col s12 m6">
      <%= f.text_field :name %>
      <%= f.label :name %>
    </div>
    <div class="input-field col s6 m3">
      <%= f.select :frequency, [[:Weekly, :weekly], [:Monthly, :monthly]], {}, class: 'browser-default' %>
    </div>
    <div class="input-field col s6 m3">
      <%= f.collection_select(:department_id, Department.all, :id, :name, {}, class: 'browser-default') %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :google_form_url, placeholder: 'https://docs.google.com/forms/d/…' %>
      <%= f.label :google_form_url, 'URL to Google Form' %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Save", class:"btn" %>
    <%= link_to 'Cancel', forms_path, class:'btn red' %>
  </div>
<% end %>
