<p id="notice"><%= notice %></p>




<h3>
  <%= @department.try(:name) || "All" %> Forms

  <%= link_to new_form_path(department: @department) do %>
    <small>
      <i class="mdi-lg mdi-action-note-add"></i>
      New Form
    </small>
  <% end %>
</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Frequency</th>
      <% unless @department %>
        <th>Department</th>
      <% end %>
      <th colspan="2"><!-- Actions --></th>
    </tr>
  </thead>

  <tbody>
    <% @forms.each do |form| %>
      <tr>
        <td><%= link_to form.name, form %></td>
        <td><%= form.frequency.titlecase %></td>
        <% unless @department %>
          <td><%= form.department.name %></td>
        <% end %>
        <td>
          <%= link_to edit_form_path(form) do %>
            <i class="mdi-lg mdi-editor-mode-edit"></i>
            Edit
          <% end %>
        </td>
        <td>
          <%= link_to form, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="mdi-lg mdi-action-delete"></i>
            Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
