<div class="row">
  <div class="col s9">
    <h3>Data Entry</h3>
    <h5>
      <%= link_to "All", forms_path %> /
      <%= link_to @form.department.name, forms_path(department_id:@form.department_id) %> /
      <%= @form.name %> <small>(<%= @form.frequency %>)</small>
    </h5>
  </div>
  <div class="col s3">
    <p>
      Last Updated:
      <strong class="red-text"><%= @form.last_updated %></strong>
    </p>
    <% if @form.google_sheet_url %>
      <%= link_to(@form.google_sheet_url, target: '_blank') do %>
        <i class="mdi-lg mdi-action-open-in-new"></i>
        View Entered Data
      <% end %>
    <% end %>
  </div>
</div>

<p id="notice"><%= notice %></p>

<% content_for :no_container do %>
  <iframe src="<%= @form.google_form_url %>" class="form-frame">Loading...</iframe>
<% end %>
