<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @form.name %>
</p>


<p>
  <strong>Google form url:</strong>
  <%= @form.google_form_url %>
</p>

<iframe src="<%= @form.google_form_url %>" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>


<p>
  <strong>Frequency:</strong>
  <%= @form.frequency %>
</p>

<p>
  <strong>Department:</strong>
  <%= @form.department_id %>
</p>

<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
