<!DOCTYPE html>
<html>
  <head>
    <title>GrowhausStats</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <% if current_user %>

      <%= render 'shared/navigation' %>

      <div>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}" %>
        <% end %>
      </div>

      <div class="container">
        <%= yield %>
      </div>

    <% else # no current_user %>
      <div class="login-container">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    <% end %>

  </body>
</html>
