<!DOCTYPE html>
<html>
  <head>
    <title>GrowhausStats</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'shared/navigation' if current_user %>

    <script>
      <%- flash.each do |name, msg| %>
        Materialize.toast("<%= escape_javascript(msg) %>", 5000, 'flash-<%= name %>')
      <% end %>
    </script>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
