<!DOCTYPE html>
<html>
<head>
  <title>GrowhausStats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <ul>
    <%- Department.all.each do |department| %>
      <li>
        <%= department.name %>
        <ul>
          <%- Form.where(department: department).each do |form| %>
            <li><a href="<%= form_path(form) %>"><%= form.name %></a></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</nav>

<%= yield %>

</body>
</html>
